<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Including the header -->
    <%- include('./layouts/header.ejs') %>

    <!-- including the content section -->
    <%- include('./layouts/blogContent.ejs') %>

    <!-- inluding the footer -->
    <%- include('./layouts/footer.ejs') %>

    <script src="/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
